<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Erez Website</title>
  <link rel="stylesheet" href="{{
  url_for('static', filename='css/main.css')}}">

</head>
<body>
    <center>
        <h1>Hello world!, Amazing!</h1>
        <h6>hey its our world</h6>
        <h5>{{5 * 5}}</h5>
        <h5>{{(name)}}</h5>
        <h2>New world!2</h2>

<form action="/thankyou">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" value="John"><br><br>
  <input type="submit" value="Submit">
</form>
        <br>
    <br>
    <p>this is arial typing</p>

    </center>
</body>
